html {
  background-color: #fffffe;

  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;

  color: #094067;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3da9fc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d8eefe;
}
