---
import { Image } from "astro:assets";
import iconImage from "../../assets/icon.png";
import LinkWithIcon from "../atoms/LinkWithIcon.astro";
---

<div class="min-h-screen lg:h-screen w-full lg:w-9/12 mx-auto flex flex-col justify-center py-6">
  <h2 class="text-3xl lg:text-4xl font-bold px-4 lg:px-0 py-2">About</h2>
  <div class="grid grid-cols-1 lg:grid-cols-2 py-6 px-4 lg:px-0">
    <ul class="space-y-4 flex flex-col justify-center order-last lg:order-first">
      <li>
        <h2 class="text-xl lg:text-2xl text-[#3DA9FC] font-bold">ひとこと</h2>
        <p class="text-2xl lg:text-4xl">便利を届ける活動をしています。</p>
      </li>
      <li>
        <ul class="flex space-x-4">
          <li>
            <LinkWithIcon
              href="https://github.com/yumekiti"
              icon="github-logo"
              target="_blank"
            />
          </li>
          <li>
            <LinkWithIcon
              href="https://twitter.com/yumekiti1204"
              icon="twitter-logo"
              target="_blank"
            />
          </li>
          <li>
            <LinkWithIcon
              href="mailto:yumekiti120440@gmail.com"
              icon="envelope-simple"
              target="_blank"
            />
          </li>
        </ul>
      </li>
    </ul>
    <div class="flex justify-center items-center py-16">
      <Image src={iconImage} alt="icon" class="w-[280px] lg:w-[520px] rounded-full shadow-[80px_-60px_0px_-50px] lg:shadow-[160px_-120px_0px_-80px] shadow-[#3DA9FC] lg:shadow-[#3DA9FC]" />
    </div>
  </div>
</div>
