---
import { Icon } from "astro-icon/components";
---

<section
  class="h-screen w-full lg:w-7/12 mx-auto flex flex-col justify-center px-0 lg:px-6"
  aria-labelledby="message-title"
>
  <div
    class="h-full lg:h-3/6 w-full rounded-none lg:rounded-[3rem] bg-[#D8EEFE] px-6 sm:px-8 lg:px-16 py-6 lg:py-8 shadow-none lg:shadow-[30px_30px_0] lg:shadow-[#3DA9FC] flex flex-col justify-evenly"
  >
    <header class="text-center">
      <h2 id="message-title" class="font-bold text-1xl sm:text-2xl 2xl:text-3xl">
        「便利」を、迷わないかたちに。
      </h2>
    </header>

    <figure class="mx-auto">
      <blockquote class="leading-relaxed text-base sm:text-lg 2xl:text-xl [text-pretty:balance]">
        速くて、分かりやすくて、壊れない。<br/>
        目的までの遠回りをなくす設計で、
        <br class="sm:hidden block" />
        毎日の手間を減らします。<br/>
        それが、私の届けたい「便利」です。
      </blockquote>
      <figcaption class="mt-4 text-sm text-[#38434F]">Make it convenient, always.</figcaption>
    </figure>

    <div class="flex justify-end w-full">
      <Icon name="send" class="w-28 sm:w-36 lg:w-44 h-auto" />
    </div>
  </div>
</section>
