---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import iconImage from "../../assets/icon.png";
---

<div class="h-screen w-full mx-auto flex flex-col justify-center">
  <div class="h-full grid grid-cols-1 2xl:grid-cols-2">
    <div class="flex justify-center items-center">
      <Icon name="earth" class="w-[80%] 2xl:w-[50%] h-[60%] 2xl:h-[50%] absolute" />
      <div class="absolute text-4xl lg:text-6xl leading-[3rem] lg:leading-[6rem] font-bold">
        <span>
          「届け」便利<br />
          生活に豊かさを
        </span>
        <Icon
          name="good"
          class="text-4xl lg:text-6xl animate-bounce absolute -top-8 lg:-top-11 -right-3 lg:-right-6"
        />
        <div
          class="border-b-4 border-l-4 border-[#3da9fc] w-8 lg:w-12 h-8 lg:h-12 rotate-12 absolute -top-4 right-0"
        />
      </div>
    </div>
    <div class="hidden 2xl:flex justify-end items-end mb-24 w-full">
      <div
        class="w-full 2xl:w-[80%] h-[20rem] rounded-l-[3rem] bg-[#D8EEFE] px-16 py-8 space-y-4 shadow-[20px_20px_0] shadow-[#3DA9FC]"
      >
        <div class="flex items-center space-x-4">
          <Image src={iconImage} alt="icon" class="w-36 h-36 rounded-full" />
          <span class="text-6xl break-keep">ゆめきち</span>
        </div>
        <span class="text-4xl break-keep">インフラエンジニア</span>
        <p class="text-[#5F6C7B]">
          インターネットを通じて便利を届け、生活に豊かさをお届けします。
        </p>
      </div>
    </div>
</div>
</div>
