---
import { Icon } from "astro-icon/components";

const skills = [
  {
    title: "Programming Language",
    items: [
      { name: "TypeScript", icon: "typescript" },
      { name: "Go", icon: "go" },
      { name: "Java", icon: "coffee" },
      { name: "PHP", icon: "php" },
      { name: "Python", icon: "python" },
    ]
  },
  {
    title: "Server & Network",
    items: [
      { name: "Terraform", icon: "terraform" },
      { name: "Ansible", icon: "ansible" },
      { name: "GNS3", icon: "network" },
      { name: "Packet Tracer", icon: "network" },
      { name: "Wireshark", icon: "wireshark" },
    ]
  },
  {
    title: "Web Frontend",
    items: [
      { name: "React", icon: "react" },
      { name: "Vue.js", icon: "vuedotjs" },
      { name: "Astro", icon: "astro" },
      { name: "jQuery", icon: "jquery" },
      { name: "Tailwind CSS", icon: "tailwindcss" },
    ]
  },
  {
    title: "Web Backend",
    items: [
      { name: "Express", icon: "express" },
      { name: "NestJS", icon: "nestjs" },
      { name: "Spring Boot", icon: "springboot" },
      { name: "FastAPI", icon: "fastapi" },
      { name: "Echo", icon: "go" },
      { name: "Laravel", icon: "laravel" },
    ]
  },
  {
    title: "Mobile & Desktop",
    items: [
      { name: "React Native", icon: "react" },
      { name: "Electron", icon: "electron" },
      { name: "Capacitor", icon: "capacitor" },
      { name: "Android Studio", icon: "androidstudio" },
    ]
  },
  {
    title: "Other Tools",
    items: [
      { name: "Docker", icon: "docker" },
      { name: "Kubernetes", icon: "kubernetes" },
      { name: "Jenkins", icon: "jenkins" },
      { name: "Figma", icon: "figma" },
      { name: "Markdown", icon: "markdown" },
    ]
  },
]
---

<div class="min-h-screen lg:h-screen w-full lg:w-9/12 mx-auto flex flex-col justify-center py-6">
  <h2 class="text-3xl lg:text-4xl font-bold px-4 lg:px-0 py-2">Skills</h2>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 py-6 px-4 lg:px-0">
    {skills.map((skill) => (
      <div class="w-full h-48 lg:h-64 bg-[#D8EEFE] rounded-[0.5rem] p-4 lg:p-6 space-y-2 lg:space-y-4 shadow-[6px_6px_0] lg:shadow-[20px_20px_0] shadow-[#3DA9FC] lg:shadow-[#3DA9FC]">
        <h3 class="text-xl leading-none font-bold">{skill.title}</h3>
        <ul class="text-base lg:text-lg">
          {skill.items.map((item) => (
            <li class="flex items-center space-x-2">
              <Icon name={`skills/${item.icon}`} class="w-4 h-4 text-[#3da9fc]" />
              <span>{item.name}</span>
            </li>
          ))}
        </ul>
      </div>
    ))}
  </div>
</div>
