---
import { Icon } from "astro-icon/components";

const skills = [
  {
    title: "Programming Language",
    items: ["JavaScript", "TypeScript", "Python", "Java", "PHP"],
  },
  {
    title: "Server",
    items: ["Node.js", "Express", "Nginx", "Apache", "Tomcat"],
  },
  {
    title: "Web Frontend",
    items: ["React", "Vue", "Angular", "Svelte", "Next.js", "Gatsby"],
  },
  {
    title: "Web Backend",
    items: ["Express", "Koa", "NestJS", "Spring", "Django", "Flask"],
  },
  {
    title: "Mobile & Desktop",
    items: ["React Native", "Electron", "Flutter", "Swift", "Kotlin"],
  },
  {
    title: "Other Tools",
    items: ["Git", "Docker", "Kubernetes", "Jenkins", "Travis CI", "Circle CI"],
  },
]
---

<div class="h-fit lg:h-screen w-full lg:w-9/12 mx-auto flex flex-col justify-center py-6">
  <h2 class="text-3xl lg:text-4xl font-bold px-4 lg:px-0 py-2">Skills</h2>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 py-6 px-4 lg:px-0">
    {skills.map((skill) => (
      <div class="w-full h-48 lg:h-64 bg-[#D8EEFE] rounded-[0.5rem] p-4 lg:p-6 space-y-2 lg:space-y-4 shadow-[6px_6px_0] lg:shadow-[20px_20px_0] shadow-[#3DA9FC] lg:shadow-[#3DA9FC]">
        <h3 class="text-xl leading-none font-bold">{skill.title}</h3>
        <ul class="text-base lg:text-lg">
          {skill.items.map((item) => (
            <li class="flex items-center space-x-2">
              <Icon name="good" class="w-4 h-4 text-[#3da9fc]" />
              <span>{item}</span>
            </li>
          ))}
        </ul>
      </div>
    ))}
  </div>
</div>
