---
import '../styles/global.css';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio</title>
  </head>

  <body class="bg-white text-slate-900">

    <header class="fixed top-0 w-full px-10 py-3 flex justify-between items-center text-sm text-slate-500 z-50">
		<div class="font-medium">Yumeki Iida</div>
		<nav class="space-x-4 opacity-60 hover:opacity-100 transition">
			<a href="#concept">Concept</a>
			<a href="#skills">Skills</a>
			<a href="#works">Works</a>
		</nav>
	</header>

    <main>
      <slot />
    </main>

    <footer class="bg-slate-900 text-white text-center py-10">
      © 2026 Yumeki Iida
    </footer>

  </body>
</html>