---
import LinkWithIcon from "../components/atoms/LinkWithIcon.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex">
    <nav
      class="hidden lg:flex justify-center items-center flex-col h-screen sticky top-0"
    >
      <div class="bg-[#3da9fc] h-full w-1"></div>
      <ul class="px-6 py-12 space-y-8">
        <li>
          <LinkWithIcon href="/" icon="house-line" target="_self" />
        </li>
        <li>
          <LinkWithIcon href="/" icon="pencil-simple-line" target="_self" />
        </li>
        <li>
          <LinkWithIcon
            href="https://github.com/yumekiti"
            icon="github-logo"
            target="_blank"
          />
        </li>
        <li>
          <LinkWithIcon
            href="https://twitter.com/yumekiti1204"
            icon="twitter-logo"
            target="_blank"
          />
        </li>
      </ul>
      <div class="bg-[#3da9fc] h-full w-1"></div>
    </nav>
    <main class="flex-grow">
      <slot />
    </main>
  </body>
</html>
